.card {
    -webkit-box-shadow: 0 10px 25px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 10px 25px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0 10px 25px -12px rgba(0, 0, 0, 0.75);
    border: solid #000;
}

.header-card-image {
    width: 50px;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
}

.card-title {
    color: #910c94;
    text-align: center;

}

.notes-row {
    margin-top: 25px;
}

.note-text {
    max-height: 150px;
    min-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.note-tags {
    padding-top: 0;
    padding-bottom: 0;
}

.note-tags span.badge {
    margin: 2px;
}

.card-body {
    padding: 5px;
}
.note-link{
    font-size: 11px;
    color: #910c94;
}